podman {
    enabled = true
    runOptions = "--entrypoint '' --platform linux/amd64 ${System.getenv('NXF_DOCKER_VOLUMES') ?: ''}"
}

params {
        tabulate_id_cols       = 'cDNA_ID,SubjectId'
}

//docker {
//    enabled    = true
//    runOptions = "--entrypoint '' --platform linux/amd64 ${System.getenv('NXF_DOCKER_VOLUMES') ?: ''}"
//}

process {
    executor  = 'local'
    cpus      = 1
    memory    = '6.GB'
    time      = '2.h'
    maxForks  = 1

    withLabel: 'process_ingest' {
        memory           = '6.GB'
        maxForks         = 1
        containerOptions = "-v ${System.getProperty('user.home')}/.netrc:/root/.netrc:ro"
    }

    withLabel: 'process_export' {
        memory   = '6.GB'
        maxForks = 1
    }

    withLabel: 'process_harmonize' {
        memory   = '6.GB'
        maxForks = 1
    }

    withLabel: 'process_tabulate' {
        memory   = '6.GB'
        maxForks = 1
    }
}

executor {
    name = 'local'
}
