nextflowVersion = '>=24.04'

params {
    workflow               = 'full'
    input                  = "${projectDir}/data/samplesheet.csv"
    outdir                 = "${projectDir}/outputs"
    help                   = false
    labkey_base_url        = ''
    labkey_folder          = ''
    species_order          = 'human,macaque,mouse'
    export_assay           = 'RNA'
    scmodal_container      = 'ghcr.io/gwmcelfresh/scmodal-cuda:latest'
    scmodal_latent         = 20
    scmodal_training_steps = 10000
    scmodal_batch_size     = 500
    scmodal_neighbors      = 30
    leiden_resolution      = 0.5
    repo_sync_url          = 'https://github.com/GWMcElfresh/GoodWorkflows.git'
    repo_sync_branch       = 'main'
}

workDir = "${projectDir}/work"
