podman {
    enabled = true
    runOptions = "--entrypoint '' --platform linux/amd64 ${System.getenv('NXF_DOCKER_VOLUMES') ?: ''}"
}

params {
        tabulate_id_cols       = 'cDNA_ID,SubjectId'
}

//docker {
//    enabled    = true
//    runOptions = "--entrypoint '' --platform linux/amd64 ${System.getenv('NXF_DOCKER_VOLUMES') ?: ''}"
//}

process {
    executor  = 'local'
    cpus      = 3
    memory    = '6.GB'
    time      = '2.h'
    maxForks  = 1
    
    // when this process fails due to EOM, try to give this more RAM and restart, updating in units of 8GB
    withLabel: 'process_ingest_labkey' {
	errorStrategy = { task.exitStatus == 137 ? 'retry' : 'finish' }
    	maxRetries = 2
    	memory = { 8.GB * task.attempt } 
        maxForks         = 1
        containerOptions = "-v ${System.getProperty('user.home')}/.netrc:/root/.netrc:ro"
    }

    withLabel: 'process_ingest_url' {
        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'finish' }
        maxRetries = 2
        memory = { 8.GB * task.attempt }
        maxForks = 1
    }

    withLabel: 'process_ingest_file' {
        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'finish' }
        maxRetries = 2
        memory = { 8.GB * task.attempt }
        maxForks = 1
    }

    withLabel: 'process_export' {
        memory   = '6.GB'
        maxForks = 1
    }

    withLabel: 'process_harmonize' {
        memory   = '6.GB'
        maxForks = 1
        environment 'NUMBA_DISABLE_NUMBA_CACHE' = '1'
    }

    withLabel: 'process_tabulate' {
        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'finish' }
        maxRetries = 2
        memory = { 8.GB * task.attempt }
        maxForks  = 1
    }
}

executor {
    name = 'local'
}
